<mat-toolbar>
  <span [routerLink]="'/'">Angular</span>
  <div class="examples">
    <a mat-button [routerLink]="'/ejemplo-1'"> Ejemplo #1 </a>
    <a mat-button [routerLink]="'/ejemplo-2'"> Ejemplo #2 </a>
    <a mat-button [routerLink]="'/ejemplo-3'"> Ejemplo #3 </a>
    <a mat-button [routerLink]="'/ejemplo-4'"> Ejemplo #4 </a>
    <a mat-button href="https://angular-change-detection-demo.netlify.app/simple-demo" target="blank"> Ejemplo #5 </a>
  </div>
</mat-toolbar>


<router-outlet></router-outlet>
